PYTHON_VERSION=3.12.0
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=*
DB_NAME=evoting_db_2xky
DB_USER=evoting_user
DB_PASSWORD=PkxCPqq9zZg4VEb8zUVv1RGZHlyNUy4U
DB_HOST=dpg-da00t9tbedkc739klqg0-a
DB_PORT=5432
DB_SSLMODE=require
